<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>pintas - url shortener</title>
</head>

<body class="bg-gray-900 flex items-center justify-center min-h-screen p-8">
    <div class="w-full h-full absolute flex justify-around items-center blur-[128px] overflow-hidden">
        <div class="size-64 rounded-full bg-purple-500 translate-y-32"></div>
        <div class="size-64 rounded-full bg-cyan-500 -translate-y-32"></div>
    </div>
    <div class="w-full md:w-1/2 h-1/2 p-6 md:p-8 bg-gray-200/20 drop-shadow-lg rounded-xl text-white">
        <h1 class="text-3xl font-bold text-center">500 | Internal Server Error</h1>
    </div>
</body>

</html>
